version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./schniffs:/app/schniffs
      - ./credentials:/container/credentials
    # environment:
    #   GOOGLE_APPLICATION_CREDENTIALS: /credentials/service-account-key.json
    env_file:
      - .env